/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* font-family: 'Open Sans', sans-serif; */

/* HTML elements */
/* Test CSS code with default font size*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 5ch;
}


header {
    font-size: 2ch;
}

#navbar {
  height: auto;
  width: auto;
  font-size: 1ch;
}


#id {
  font-size: 1ch;
}
/* Sample CSS code from Code Institute 'Love Running' project - not working due to Gitpod issues */
#about {
  height: 600px;
  width: auto;
  overflow: hidden;
  position: relative;
  /* font-size: 1ch; */
}

/* media */
/* Sample CSS code from Code Institute 'Love Running' project - not working due to Gitpod issues */
#hero-image {
  height: 600px;
  width: auto;
  /* background-size: cover;
  background-position: center; */
  background: url('../images/yrn-hero.webp') no-repeat center center;
  background-color: #cccccc;
}


#contact {
  height: 100px;
  width: auto;
  font-size: 1ch;
  /* placeholder colour */
  background-color: aquamarine;
}

#sign-up {
  height: 100px;
  width: auto;
  font-size: 1ch;
  /* placeholder colour */
  background-color: azure;
}

/* typography */

#hero-text {
  font-size: 2ch;
  font-family: inherit;
  color: #cccccc;
  width: 300px;
  height: 150px;

  padding-top: 40px;
  padding-bottom: 20px;
  position: absolute;
}

#contact-text {font-size: 1ch;}

#sign-up-form {font-size: 1ch;}