/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* font-family: 'Open Sans', sans-serif; */

/* HTML elements */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 5ch;
}


header {
    font-size: 1ch;
}

#navbar {
  font-size: 1ch;
}


#id {
  font-size: 1ch;
}

.about {
  height: 600px;
  width: 100%;
  overflow: hidden;
  font-size: 1ch;
}

.contact {
  font-size: 1ch;
}

.sign-up {
  font-size: 1ch;
}

/* media */

#hero-image {
  height: 600PX;
  width: 100%;
  background-size: cover;
  background-position: center;
  background: url('../images/yrn-hero.webp') center center no-repeat;
  background-color: #cccccc;
}

/* typography */

#cover-text {font-size: 1ch;}

#contact-text {font-size: 1ch;}

#sign-up-form {font-size: 1ch;}